<div mat-dialog-content>
  <div class="form-field-container" fxLayout="column" fxLayoutAlign="space-around stretch"
       fxLayoutGap="10px">
    <p class="font-ocra">Agent Name</p>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" autocomplete="off" [(ngModel)]="displayName" matInput placeholder="e.g. Agent Smith">
    </mat-form-field>
    <div>
      <p class="font-ocra">Operating System</p>
      <mat-radio-group [(ngModel)]="os" aria-label="Select an option">
        <mat-radio-button value="Windows">Windows</mat-radio-button>
        <mat-radio-button value="MacOS">MacOS</mat-radio-button>
        <mat-radio-button value="Linux">Linux</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div mat-dialog-actions style="float: right">
    <button mat-flat-button color="accent" [mat-dialog-close]="null">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSave()">Save</button>
  </div>
</div>

