.mat-dialog-container {
  padding: 12px !important;
}

.mat-dialog-content {
  height: 100%;
  overflow: unset;

  .mat-flat-button {
    font-family: 'OCRA', sans-serif;
  }

  .environment-editor {
    height: 100%;
    width: 100%;

    .editor-container {
      height: 100%;
    }
  }
}
