<h2 mat-dialog-title class="font-ocra">Package Configuration</h2>
<mat-dialog-content>
  <div style="width: 100%">
    <h5 class="font-ocra">Source Type</h5>
    <mat-radio-group fxLayout="row" fxLayoutAlign="space-around center"
                     [(ngModel)]="sourceType"
                     (change)="onSourceTypeChanged($event)">
      <mat-radio-button value="package">Robot Package</mat-radio-button>
      <mat-radio-button value="repository">Repository</mat-radio-button>
    </mat-radio-group>
  </div>

  <h5 class="font-ocra">Package Source</h5>
  <form>
    <input #robotFile hidden name="file" type="file" (change)="onFileChange($event)">
    <mat-form-field appearance="fill" floatLabel="always" *ngIf="sourceType == 'repository'">
      <mat-label>Repository</mat-label>
      <input [(ngModel)]="sourceUrl" [ngModelOptions]="{standalone: true}" matInput
             placeholder="github.com/robocorp/robot-template">
      <span matPrefix>https://</span>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always" *ngIf="sourceType == 'package'">
      <mat-label>Upload Package</mat-label>
      <input matInput [disabled]="true" [value]="sourceUrl"/>
      <button mat-icon-button matSuffix (click)="onPackageUploadClicked($event)">
        <mat-icon>upload</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="{sourceType: sourceType, sourceUrl: sourceUrl}"
          cdkFocusInitial>Install
  </button>
</mat-dialog-actions>
