<div fxLayout="row" fxLayoutAlign="space-between start">
  <app-breadcrumb></app-breadcrumb>
  <div fxLayout fxLayoutGap="10px">
    <mat-form-field appearance="outline" [style.fontSize.px]=12>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.fontSize.px]=12>
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div class="page-h-full">
  <roc-empty-state icon="dashboard" [title]="'dashboard.empty.title' | translate"
                   [caption]="'dashboard.empty.caption' | translate"></roc-empty-state>
</div>
