<div fxLayout="row" fxLayoutAlign="space-between center">
  <app-breadcrumb></app-breadcrumb>
  <button mat-raised-button color="accent" (click)="onCreateClicked()">
    <mat-icon>add</mat-icon>
    <span class="font-ocra">Create Task Force</span>
  </button>
</div>


<div class="page-h-full" *ngIf="taskForces.length == 0">
  <roc-empty-state icon="account_tree" title="No Task Force Exists"
                   caption="No Task Force found on this project. You can create new task force using Create Task Force button on the top right corner."></roc-empty-state>
</div>

<roc-task-force-list *ngIf="taskForces.length > 0"
                     [taskForceList]="taskForces"
                     (executeTask)="onExecuteTaskClicked($event)">
</roc-task-force-list>
