@import "~src/colors";

.mat-card {
  border: 3px solid black;
  box-sizing: content-box !important;
}

.info-container {
  margin-top: 25px;

  .card {
    min-height: 150px;

    .mat-card-content {
      height: 100%;
    }

    .mat-card-footer {
      margin: 0;
    }
  }

  .mat-card-subtitle {
    color: #2e2e2e;
  }

  .mat-fab {
    &:hover {
      background: $color-roc-primary;
    }
  }

}

.job-history-container {
  margin-top: 25px;
  min-height: 40vh;

  .mat-table {
    width: 100%;
  }

}
