:host {
  .form-field-container {
    width: 100%;
    padding: 20px;

    .mat-form-field {
      width: 100%;
    }
  }

  button {
    font-family: 'OCRA', sans-serif;
  }

  .mat-dialog-container {
    padding: 12px !important;
    box-shadow: none;
    overflow: hidden !important;
  }

  .mat-dialog-content {
    height: 100%;
    overflow: hidden !important;
    padding: 0;

    .environment-editor {
      height: 100%;
      width: 100%;

      .editor-container {
        height: 100%;
      }
    }
  }

}
