<mat-list-item>
  <div mat-list-avatar>
    <mat-icon class="agent-icon" mat-list-icon>support_agent</mat-icon>
  </div>
  <div mat-line class="font-ocra">{{agent.displayName}}</div>
  <div mat-line><strong>Last Active: </strong>{{agent.lastActive | dateAgo}} </div>
  <div mat-line><strong>Operating System: </strong>{{ agent.os }} </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" style="min-width: 125px;">
    <button mat-mini-fab aria-label="Task Force Detail" matTooltip="View Details" matTooltipPosition="below">
      <mat-icon>download</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Generate Keys" matTooltip="Generate Keys" matTooltipPosition="below">
      <mat-icon>keys</mat-icon>
    </button>
    <button [routerLink]="['/agent/detail']" [queryParams]="{agentId: agent.id}" mat-mini-fab
            aria-label="Task Force Detail" matTooltip="View Details" matTooltipPosition="below">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

</mat-list-item>
