<div fxLayout="row" fxLayoutAlign="space-between center">
  <app-breadcrumb></app-breadcrumb>
  <button mat-raised-button color="accent" (click)="onCreate()">
    <mat-icon>add</mat-icon>
    <span class="font-ocra">Create Environment</span>
  </button>
</div>


<div class="page-h-full" *ngIf="environments.length == 0">
  <roc-empty-state icon="code" title="No Environment Exists"
                   caption="No Environment found on this project. You can create new environment using Create Environment button on the top right corner."></roc-empty-state>
</div>

<roc-environment-list *ngIf="environments.length > 0" [environmentList]="environments"></roc-environment-list>
