ol.breadcrumbs {
  padding: 0;
  list-style-type: none;
}

.breadcrumb-current-route {
  color: inherit;
  font-weight: 500;
}

.breadcrumb-history-link {
  color: #3F51B5;
  text-decoration: underline;
  cursor: pointer;
}

ol.breadcrumbs li {
  list-style-type: none;
}

@media only screen and (min-width: 960px) {
  ol.breadcrumbs li {
    list-style-type: none;
    display: inline
  }

  .route-content-top {
    height: 30px;
  }
}
