html, body {
  background: beige;
}

.default-layout-container {
  height: calc(100vh - 180px);
  width: 100%;
}

.default-layout-content {
  padding: 15px 25px;
}

@media screen and (min-width: 1400px) {
  .default-layout-content {
    padding: 20px 150px;
  }
}

@media screen and (min-width: 2000px) {
  .default-layout-content {
    padding: 20px 250px;
  }
}
