$color-roc-primary: #3dc9b0;
$color-roc-accent: #333333;

$roc-primary: (
  50 : #e8f9f6,
  100 : #c5efe7,
  200 : #9ee4d8,
  300 : #77d9c8,
  400 : #5ad1bc,
  500 : #3dc9b0,
  600 : #37c3a9,
  700 : #2fbca0,
  800 : #27b597,
  900 : #1aa987,
  A100 : #dffff7,
  A200 : #acffea,
  A400 : #79ffdc,
  A700 : #5fffd6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$roc-accent: (
  50 : #e7e7e7,
  100 : #c2c2c2,
  200 : #999999,
  300 : #707070,
  400 : #525252,
  500 : #333333,
  600 : #2e2e2e,
  700 : #272727,
  800 : #202020,
  900 : #141414,
  A100 : #ef6e6e,
  A200 : #ea4040,
  A400 : #f60000,
  A700 : #dd0000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
